{% extends 'base.html.twig' %}

{% block content %}
    <div class="content pb-0">


        <div class="clearfix"></div>
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Séquences </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Sequence</th>
                                        <th>Utilisateur</th>
                                        <th>Agence</th>
                                        <th>Créé le</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for seq in sequences %}
                                        <tr>
                                            <td class="serial">{{ seq.id }}</td>
                                            <td>{{ seq.sequence }}</td>
                                            <td><span class="name">{{ seq.username }}</span></td>
                                            <td><span class="product">{{ seq.agency }}</span></td>
                                            <td><span>{{ seq.createtime|date('d/m/Y H:i') }}</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->


            </div> <!-- /.order -->


        </div> <!-- .content -->

    </div> <!-- .content -->
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
